<div>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>S.NO</th>
      <th>NAME</th>
      <th>AGE</th>
      <th>BLOOD GROUP</th>
      <th>DONATED QUANTITY(ml)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let donor of donors.reverse(); let i = index">
      <td>{{i + 1}}</td>
      <td>{{donor.donorName}}</td>
      <td>{{donor.age}}</td>
      <td>{{donor.bloodGroup}}</td>
      <td>{{donor.donationQuantity}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="row mt-4">
  <div class="col-6">
    <div class="square ">
      <h3 class="text-center pt-3 text-opacity-100 text-white">{{donorCount}}</h3>
      <h2 class="text-center text-white-50 ">Donors Registered&reg;</h2>
    </div>
  </div>
  <div class="col-6">
    <div class="square bg-danger">
      <h3 class="text-center pt-3 text-opacity-100 text-white">{{bloodCount}}</h3>
      <h3 class="text-center text-white-50 ">Blood Units Collected</h3>
    </div>
  </div>
</div>
<div class="container ">
  <div class="row">
    <div>
      <video width="640" height="360" [controls]="false" autoplay loop [muted]="true">
        <source src="../../../assets/352209545_3430268487247914_5539987921722753511_n.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</div>

