<div>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>s.no</th>
      <th>Name</th>
      <th>age</th>
      <th>blood group</th>
      <th>donated quantity(ml)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let donor of donors.slice().slice(-10); let i = index">
      <td>{{i + 1}}</td>
      <td>{{donor.donorName}}</td>
      <td>{{donor.age}}</td>
      <td>{{donor.bloodGroup}}</td>
      <td>{{donor.donationQuantity}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="row mt-4">
  <div class="col-6">
    <div class="square ">
      <h3 class="text-center pt-3 text-opacity-100 text-white">{{donorCount}}</h3>
      <h2 class="text-center text-white-50 ">Donors Registered&reg;</h2>
    </div>
  </div>
  <div class="col-6">
    <div class="square bg-danger">
      <h3 class="text-center pt-3 text-opacity-100 text-white">{{bloodCount}}</h3>
      <h3 class="text-center text-white-50 ">Blood Units Collected</h3>
    </div>
  </div>
</div>

