<div class="container-fluid">
  <div class="row col-md-12">
    <div class="col-6">
      <div class="mx-3 mt-5" style="width: 90%; height: 90%;">
        <h2 style="text-align: center;color: #CC5546;background-color: antiquewhite;display: flex;align-items: center;">BLOOD GRAPH<img src="../../../../../assets/statistics.png" alt="" height="25px" width="25px" style="margin-left: 10px;"></h2>
        <canvas #barChartCanvas></canvas>
      </div>
    </div>
    <div class="col-6 my-5">
      <button type="button" class="btn btn-link btn-lg" routerLink="/blood-bank/bloodRequests">view all requests <i class="bi bi-arrow-right-circle"></i></button>
      <h1 style="text-align: center;color: #CC5546;background-color: antiquewhite; display: flex;align-items: center;">Blood Requests<img src="../../../../../assets/blood-donation (1).png" alt="" height="25px" width="25px" style="margin-left: 10px;">
      </h1>
      <div>
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>s.no</th>
            <th>hospital name</th>
            <th>quantity</th>
            <th>supplied</th>
            <th>blood group</th>
            <th>priority</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bloodRequest of bloodRequests.slice(-3); let i = index;">
              <td>{{i + 1}}</td>
              <td>{{bloodRequest.hospital.hospitalName}}</td>
              <td>{{bloodRequest.quantity}}</td>
              <td>{{bloodRequest.supplied}}</td>
              <td>{{bloodRequest.bloodGroup}}</td>
              <td [ngClass]="bloodRequest.priority == 'HIGH'? 'text-danger':''">{{bloodRequest.priority}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
