<app-admin-navbar></app-admin-navbar>

<div class="container">
  <div class="row  ">
    <div class="card card-border border-black my-5">
      <div class="card-body">
        <div >
          <!-- <h2 class="h2-signup">PROFILE</h2> -->
          <img  class="mx-auto my-2 " style="display: block; " src="../../../../../assets/user.png" width="100px" height="100px" alt="">
          <form [formGroup]="profileForm" (ngSubmit)="updateBloodBank(profileForm.value)">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingName" placeholder="sandeep" formControlName="bloodBankName">
                <label for="floatingName">Blood-Bank Name</label>
                <div *ngIf="profileForm.controls['bloodBankName'].invalid && (profileForm.controls['bloodBankName'].dirty || profileForm.controls['bloodBankName'].touched)" class="text-danger form-error">
                  BloodBank Name is required.
                </div>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingAddress" placeholder="city" formControlName="address" >
                <label for="floatingAddress">Address</label>
                <div *ngIf="profileForm.controls['address'].invalid && (profileForm.controls['address'].dirty || profileForm.controls['address'].touched)"
                   class="text-danger form-error">
                Address is required.
              </div>
              </div>
              <div class="form-floating mb-3">
                <input type="tel" class="form-control" id="floatingPhoneNumber" placeholder="9999999999" formControlName="phoneNo">
                <label for="floatingPhoneNumber">Phone Number</label>
                <div *ngIf="profileForm.controls['phoneNo'].invalid && (profileForm.controls['phoneNo'].dirty || profileForm.controls['phoneNo'].touched)"
                   class="text-danger form-error">
                Invalid Phone Number (must be 10 digits and start with 7, 8, or 9).
              </div>
              </div>
              <div class="mx-auto" style="width: 80%;">
                <button type="submit" class="btn btn-danger mb-2 mt-2 " style="width: 100%;" [disabled]="profileForm.invalid">update</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
