.h2-login{
  text-align: center;
  color: indianred;
  background-color: antiquewhite;
  margin-bottom: 30px;
}
.form-error{
  font-size: small;
}
h1{
  text-align: center;
  color: #CC5546;
  background-color: antiquewhite;
}
#hos-img{
  display: flex;
  justify-content: center;
}
