<app-hospital-navbar></app-hospital-navbar>


<div class="container-lg  mt-3">
  <h1 style="text-align: center;color: #CC5546;background-color: antiquewhite;"> <img src="../../../../../assets/check.png" alt="" width="30px" height="30px" style="padding-bottom: 3px;"> Blood Requests</h1>
  <div style="display: flex;justify-content: space-between;">
    <button class="btn btn-link btn-lg" routerLink="/hospital/requests"><i class="bi bi-arrow-left-circle"></i> back</button>
    <input type="text"  class="search-box mt-2" placeholder="Search By Patient Name..." id="search" [(ngModel)]="patientName">
  </div>
  <table class="table table-striped table-bordered my-2" id="excel-table">
    <thead>
      <tr>
        <th>S.NO</th>
        <th>PATIENT NAME</th>
        <th>AGE</th>
        <th>BLOOD GROUP</th>
        <th>PRIORITY</th>
        <th>QUANTITY</th>
        <th>SUPPLIED</th>
      </tr>
    </thead>
    <tbody *ngIf="patientName == ''">
      <tr *ngFor="let bloodRequest of acceptedRequests; let i = index">
        <td>{{i+1}}</td>
        <td>{{bloodRequest.patientName}}</td>
        <td>{{bloodRequest.age}}</td>
        <td>{{bloodRequest.bloodGroup}}</td>
        <td>{{bloodRequest.priority}}</td>
        <td>{{bloodRequest.quantity}}</td>
        <!-- <td>{{bloodRequest.supplied}}</td> -->
        <td>yes</td>
      </tr>
    </tbody>
    <tbody *ngIf="patientName != ''">
      <tr *ngFor="let bloodRequest of searchByName(); let i = index">
        <td>{{i+1}}</td>
        <td>{{bloodRequest.patientName}}</td>
        <td>{{bloodRequest.age}}</td>
        <td>{{bloodRequest.bloodGroup}}</td>
        <td>{{bloodRequest.priority}}</td>
        <td>{{bloodRequest.quantity}}</td>
        <td *ngIf="bloodRequest.supplied == true">Yes</td>
      </tr>
    </tbody>
  </table>
  <div>
    <button class="btn btn-success " (click)="exportexcel()"><i class="bi bi-file-arrow-down-fill"></i>Generate Excel</button>
  </div>
</div>
