<app-admin-navbar></app-admin-navbar>


<div class="container  my-2">
  <div style="display: flex;justify-content: space-between;">
    <button type="button" class="btn btn-link btn-lg" routerLink="/blood-bank/home"><i class="bi bi-arrow-left-circle"></i> back</button>
    <input type="text" [(ngModel)]="searchTextControl" class="search-box mt-2 mb-2" placeholder="Search By hospital Name...." id="search">
    <button type="button" class="btn btn-link btn-lg" routerLink="/blood-bank/suppliedRequests">view supplied requests <i class="bi bi-arrow-right-circle"></i></button>
  </div>
  <h1 style="text-align: center;color: #CC5546;background-color: antiquewhite">Blood Requests</h1>
  <div>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>S.NO</th>
        <th>HOSPITAL NAME</th>
        <th>PATIENT NAME</th>
        <th>AGE</th>
        <th>QUANTITY</th>
        <th>BLOOD GROUP</th>
        <th>SUPPLIED</th>
        <th>PRIORITY</th>
        <th>ACTION</th>
      </tr>
      </thead>
      <tbody *ngIf="searchTextControl != ''">
        <tr *ngFor="let bloodRequest of searchByName(); let i = index">
          <td>{{i + 1}}</td>
          <td>{{bloodRequest.hospital.hospitalName}}</td>
          <td>{{bloodRequest.patientName}}</td>
          <td>{{bloodRequest.age}}</td>
          <td>{{bloodRequest.quantity}}</td>
          <td>{{bloodRequest.bloodGroup}}</td>
          <td>{{bloodRequest.supplied}}</td>
          <td [ngClass]="bloodRequest.priority == 'HIGH'? 'text-danger':''">{{bloodRequest.priority}}</td>
          <td><button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onSupply(bloodRequest)">supply</button></td>
        </tr>
      </tbody>
      <tbody *ngIf="searchTextControl == ''">
        <tr *ngFor="let bloodRequest of bloodRequests; let i = index">
          <td>{{i + 1}}</td>
          <td>{{bloodRequest.hospital.hospitalName}}</td>
          <td>{{bloodRequest.patientName}}</td>
          <td>{{bloodRequest.age}}</td>
          <td>{{bloodRequest.quantity}}</td>
          <td>{{bloodRequest.bloodGroup}}</td>
          <!-- <td>{{bloodRequest.supplied}}</td> -->
          <td *ngIf="bloodRequest.supplied == true"><img src="../../../../../assets/check.png" width="20px" height="20px"></td>
          <td *ngIf="bloodRequest.supplied == false"><img src="../../../../../assets/reject.png" width="25px" height="25px"></td>
          <td [ngClass]="bloodRequest.priority == 'HIGH'? 'text-danger':''">{{bloodRequest.priority}}</td>
          <td><button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onSupply(bloodRequest)">supply</button></td>
        </tr>
      </tbody>
    </table>
    <div style="display: flex; justify-content: end;">
      <select class="form-select form-select-sm" aria-label="Small select example" id="sort" [(ngModel)]="sort" (ngModelChange)="getPageRequests(requestedPage)">
        <option value="">Sort By</option>
        <option value="age">by age</option>
        <option value="quantity">by quantity</option>
      </select>
      <select class="form-select form-select-sm" aria-label="Small select example" id="size" [(ngModel)]="size" (ngModelChange)="getPageRequests(requestedPage)">
        <option value=5>5</option>
        <option value=10>10</option>
        <option value=15>15</option>
      </select>
      <div>
        <input type="text" id="myTextBox" [(ngModel)]="requestedPage" (ngModelChange)="getPageRequests(requestedPage)"> of {{totalPages}} Pages
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-danger" id="exampleModalLabel">Do you want to supply?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="click">
          <h4>Hospital Name: {{bloodRequestModel.hospital.hospitalName}}</h4>
          <hr>
          <h4>Blood Group: {{bloodRequestModel.bloodGroup}}</h4>
          <hr>
          <h4>Quantity: {{bloodRequestModel.quantity}}</h4>
          <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="supply(bloodRequestModel.bloodRequestId)">Supply</button>
      </div>
    </div>
  </div>
</div>


